<form hx-post="{% url 'todo:update_htmx' task.pk %}" hx-target="#task-list">
    {% csrf_token %}
    
    {% for field in form %}
        <input type="text" class="form-control" name="{{ field.html_name }}" placeholder="Tarefa"
            {% if field.value %}
                value="{{ field.value }}"
            {% endif %}
        >
        
        {% if field.help_text %}
            <p class="form-text">{{ field.help_text }}</p>
        {% endif %}

        {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Atualizar</button>
</form>