<div id="task-list">
    <div class="card">
        <div class="card-header">
            Adicionar Tarefa
        </div>
        <div class="card-body">
            <form
                hx-post="{% url 'todo:create_htmx' %}"
                hx-target="#task-list"
                class="g-3 needs-validation"
            >
                {% csrf_token %}
                
                {% for field in form %}
                    <input
                        type="text"
                        class="form-control {% if field.errors %}is-invalid{% endif %}"
                        name="{{ field.html_name }}"
                        placeholder="Tarefa"
                    >
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if field.help_text %}
                        <p class="form-text">{{ field.help_text }}</p>
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Adicionar</button>
            </form>
        </div>
    </div>

    {% include 'partials/message.html' %}
    <div class="card mt-4">
        <div class="card-header">
            LISTA DE TAREFAS
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">
                        <div class="d-flex" hx-target="this" hx-swap="outerHTML">
                            {{ task.description }}
                            <span
                                hx-get="{% url 'todo:update_htmx' task.pk %}"
                                class="text-warning ps-2"
                                style="cursor: pointer;"
                            >
                                Editar
                            </span>
                            <form hx-target="#task-list">
                                {% csrf_token %}
                                <button
                                    hx-post="{% url 'todo:delete_htmx' task.pk %}"
                                    hx-confirm="Tem certeza que quer remover este item?"
                                    type="submit"
                                    class="btn btn-link text-danger p-0 ps-2 fw-bold"
                                >
                                    Remover
                                </button>
                            </form>
                        </div>
                    </li>
                {% empty %}
                <li class="list-group-item">
                    <center>Você não possui tarefas.</center>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>