{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <title>{% block title %}{% endblock title %} - Django to-do app</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    {% block content %}{% endblock content %}
    
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/htmx/htmx.min.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>