{% extends 'base.html' %}
{% block title %}Formset test{% endblock title %}
{% block content %}

    {% include 'partials/navbar.html' %}

    <div class="container mt-3">
        <h2 class="my-3">Formset applications</h2>

        <div class="row">
            <div class="col">
                <a href="{% url 'formset_test:customers_create' %}" class="btn btn-primary">Cadastrar cliente</a>
            </div>
            <div class="col">
                {% include 'partials/pagination.html' %}
            </div>
        </div>
        
        {% include 'partials/message.html' %}

        {% include '../partials/customers_list_table.html' %}
    </div>

{% endblock content %}