{% extends 'base.html' %}
{% block title %}Novo cliente{% endblock title %}
{% block content %}

    {% include 'partials/navbar.html' %}

    <div class="container mt-3">
        <a href="{% url 'formset_test:customers_list' %}" class="btn btn-link my-3">Voltar a lista de clientes</a>

        <div class="card">
            <div class="card-body">
                <h3 class="display-6 mb-3">Cadastrar telefones</h3>
                <form action="" method="post">
                    {% csrf_token %}

                    {{ formset.management_form }}

                    {% for form in formset %}
                        <div class="form-wrapper">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(function() {
            $('.form-wrapper').formset({
                prefix: '{{ formset.prefix }}',
                addText: '+ Adicionar novo',
                deleteText: '- Remover'
            });
        });
    </script>
{% endblock js %}